* {
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    background: rgb(92, 90, 72);
}

body {
    display: flex;
    flex-direction: column;
}

a {
    font-size: 30px;
    color: white;    
}

.wrapper {
    flex: 1 0 auto;
}

.clocks {
    display: flex;
    margin: 50px 50px 50px 50px;
    gap: 50px;
    justify-content: center;
}

#current_date_time_block {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;    
}

#footer {
    /* height: 50px; */
    flex-shrink: 0;
    text-align: center;
    margin-bottom: 50px;
}
